// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// Import for flexible box
@import "compass/css3";

// Import for rounded corners
@import "compass/css3/border-radius";

// To generate css equivalent to the blueprint css but with your
// configuration applied, uncomment:
@include blueprint;

// Importing custom mixins
@import "partials/mixins";

body
{
	@include blueprint-typography(true);
	@include blueprint-utilities;
	@include blueprint-debug;
	@include blueprint-interaction;

	background: $col-background;
	
	#container 
	{
		@include container;
		background: $col-container-background;
		
		a
		{
			color: $col-site-green;
		}
		
		#header, #footer 
		{
			@include column($blueprint-grid-columns); 
			color: $col-site-white;
		}
		
		#header
		{	
			margin-bottom: 20px;
			border-bottom-style: solid;
			border-color: $col-borders;
			border-width: 1px;
			background-image:url("../images/NSC.png");
			height: 190px;

			a
			{
				color: $col-site-yellow;
				text-decoration: none;
			}

			h1
			{
				font-size: 4em;
				color: $col-site-yellow;
				margin: 10px 0px 10px 0px;
				margin-left: 10px;
			}
			
			#navbar
			{
				margin-top: 55px;
				margin-left: 10px;
				
				ul
				{

					padding: 0px;
					margin: 0px;
					list-style-type: none;
					list-style-position: initial;
					list-style-image: initial;		
					
					li
					{
						display: inline;
						list-style-type: none;
						list-style-position: initial;
						list-style-image: initial;
						margin: 0px;
						padding: 0px;
						
						a
						{
							display:block;
							@include float-left;
							text-decoration: none;
							text-align: center;
							line-height: 2.5em;
							color: $col-site-white;
							font-size: 2em;
							padding:3px 20px 3px 0px;
						
							&:hover
							{
								color: lighten( $col-site-yellow, 10% );
								text-decoration: underline;
							}
							
							&.active
							{
								color:$col-site-yellow;
								
								&:hover
								{
									color: lighten( $col-site-yellow, 20% );
								}
							}
						}
					}
				}
			}
				
		}

		#sectionnavbar
		{
			
			ul
			{

				padding: 0px;
				margin: 0px;
				list-style-type: none;
				list-style-position: initial;
				list-style-image: initial;
				
				li
				{
					display: inline;
					list-style-type: none;
					list-style-position: initial;
					list-style-image: initial;
					margin: 0px;
					padding: 0px;
					
					a
					{
						@include border-top-radius($corner-radius);
						display:block;
						@include float-left;
						text-decoration: none;
						background-color: $col-site-darkgreen;
						color: $col-site-white;
						font-size: 1.25em;
						margin-right: 1px;
						padding:3px 10px 3px 10px;
						border-bottom-style: solid;
						border-width: 1px;
						border-color: $col-site-black;
					
						&:hover
						{
							background-color: $col-site-green;
						}
						
						&.active
						{
							background-color: $col-site-lightgreen;
							border-color:  $col-site-lightgreen;
							
							&:hover
							{
								background-color: lighten($col-site-green, 20%);
							}
						}
					}
				}
			}
		}
		
		.nosectionnav
		{
			@include border-top-left-radius($corner-radius);
		}
		
		#page
		{
			@include column($blueprint-grid-columns);		
			background-color: $col-site-white;
			margin-bottom: 10px;

			border-top-style: solid;
			border-bottom-style: solid;
			border-width: 12px;
			border-color: $col-site-lightgreen;
			
			@include border-top-right-radius($corner-radius);
			@include border-bottom-radius($corner-radius);
		
			font-size: 14px;
			
			h1, h2, h3, h4
			{
				color: $col-site-green;
			}

			.pagetext
			{
				@include padded(20px);
				
				h1
				{
					font-size: 2em;
			
					.section
					{
						margin-top: 20px;
						padding-top: 20px;
						border-top-style: solid;
						border-color: $col-site-black;
						border-width: 1px;
					}
				}
				
				h2
				{
					font-size: 1.5em;
					margin-top: 10px;
				}
				
				h3 
				{
					font-size: 1.25em;
				}
				
				h4 
				{
					font-size: 1em;
				}
				
				.inpageanchor
				{
					text-decoration: none;
					color: $col-site-green;
				}
				
				.highlighttext
				{
					border-style: dotted;
					border-collapse: $col-site-black;
					border-width: 1px;
					//@include border-radius($corner-radius);
					@include padded(10px);
					background-color: lighten($col-site-green, 50%);
					margin-bottom: 20px;
					
					.last
					{
						margin-bottom: 0px;
					}
				}
				
				.contactbox
				{
					width: 100%;
					margin-bottom: 10px;
					.details, .title
					{
						padding: 10px;
					}
					.details
					{
						background-color: $col-site-lightgreen; 
						font-size: 1.25em;
					}
					.title
					{
						@include border-top-radius($corner-radius);
						background-color: $col-site-green;
						color: $col-site-white;
						font-size: 1.5em;
					}
				}
				
				.navbox
				{
					width: 100%;
					margin-bottom: 10px;
					.links, .title
					{
						padding: 10px;
					}
					.links
					{
						background-color: $col-site-lightgreen; 
						
						ul
						{
		
							padding: 0px;
							margin: 0px;
							list-style-type: none;
							list-style-position: initial;
							list-style-image: initial;		
							
							li
							{
								display: inline;
								list-style-type: none;
								list-style-position: initial;
								list-style-image: initial;
								margin: 0px;
								padding: 0px;
								
								a
								{
									display:block;
									text-decoration: none;
									text-align: left;
									color: $col-site-darkgreen;
									font-size: 1em;
									padding:3px 15px 3px 0px;
								
									&:hover
									{
										color: lighten( $col-site-white, 10% );
										text-decoration: underline;
									}
									
									&.active
									{
										color:$col-site-lightgreen;
										
										&:hover
										{
											color: lighten( $col-site-green, 20% );
										}
									}
								}
							}
						}
					}
					.title
					{
						@include border-top-radius($corner-radius);
						background-color: $col-site-green;
						color: $col-site-white;
						font-size: 1.25em;
					}
				}
			}

			#content 
			{
				// Three quarters of the grid columns, rounding up.
				$content-columns: ceil(3 * $blueprint-grid-columns / 4);
				// true means its the last column in the row
				@include column($content-columns);
			}
	
			#contentright
			{
				// Three quarters of the grid columns, rounding up.
				$content-columns: ceil(3 * $blueprint-grid-columns / 4);
				// true means its the last column in the row
				@include column($content-columns, true);
			}	
					
			#sidebar 
			{
				// One quarter of the grid columns, rounding down.
				$sidebar-columns: floor($blueprint-grid-columns / 4);
				@include column($sidebar-columns, true); 
				
				.title
				{
					.h3
					{
						margin-top: -10px;
					}
					
					margin-top: 20px;
					margin-left: -20px;
				}
				
				#imagelist
				{
					ul
					{
						list-style-type: none;
						
						li
						{
							img
							{
								@include float-right;
								border: 1px solid #000000;
								width: 220px;
								margin-bottom: 30px;
							}
						}
					}
				}
				
				.highlighttext
				{
					border-style: dotted;
					border-collapse: $col-site-black;
					border-width: 1px;
					//@include border-radius($corner-radius);
					@include padded(10px);
					background-color: lighten($col-site-green, 50%);
					margin-bottom: 20px;
					
					.last
					{
						margin-bottom: 0px;
					}
				}
			}
			
			#sidebarleft
			{
				// One quarter of the grid columns, rounding down.
				$sidebar-columns: floor($blueprint-grid-columns / 4);
				@include column($sidebar-columns); 
				
				
				img
				{
					margin: 20px;
					border: 1px solid #000000;
					width: 210px;
				}
				
				.title
				{
					margin-left: 20px;
				}
				
				.highlighttext
				{
					border-style: dotted;
					border-collapse: $col-site-black;
					border-width: 1px;
					//@include border-radius($corner-radius);
					@include padded(10px);
					background-color: lighten($col-site-green, 50%);
					margin-bottom: 20px;
					margin-left: 20px;
					
					.last
					{
						margin-bottom: 0px;
					}
				}
			}
		}
		
		#committeepage 
		{
			@include column($blueprint-grid-columns);	
			padding-left: 20px;
			padding-top: 20px;
			background-color: $col-site-white;
		
			border-top-style: solid;
			border-bottom-style: solid;
			border-width: 12px;
			border-color: $col-site-lightgreen;
			
			@include border-top-right-radius($corner-radius);
			@include border-bottom-radius($corner-radius);
		
			h1, h2, h3, h4
			{
				color: $col-site-green;
			}
			
			.inpageanchor
			{
				text-decoration: none;
				color: $col-site-green;
			}
				
			#leftcol
			{
				$content-columns: floor($blueprint-grid-columns / 2);
				@include column($content-columns);
			}
			
			#rightcol
			{
				$content-columns: ceil($blueprint-grid-columns / 2);
				@include column($content-columns, true);
			}
			
			.break
			{
				@include reset-float;
				clear: both;
			}
			
			.navbox
			{	
				width: 100%-20px;	
				padding-right: 40px;
				margin-bottom: 10px;
					
				.links, .title
				{
					padding: 10px;
				}
				.links
				{
					background-color: $col-site-lightgreen; 
						
					ul
					{		
						padding: 0px;
						margin: 0px;
						list-style-type: none;
						list-style-position: initial;
						list-style-image: initial;		
							
						li
						{
							display: inline;
							list-style-type: none;
							list-style-position: initial;
							list-style-image: initial;
							margin: 0px;
							padding: 0px;
								
							a
							{
								display:block;
								text-decoration: none;
								text-align: left;
								color: $col-site-darkgreen;
								font-size: 1em;
								padding:3px 15px 3px 0px;
								
								&:hover
								{
									color: lighten( $col-site-white, 10% );
									text-decoration: underline;
								}
									
								&.active
								{
									color:$col-site-lightgreen;
									
									&:hover
									{
										color: lighten( $col-site-green, 20% );
									}
								}
							}
						}
					}
				}
				.title
				{
					@include border-top-radius($corner-radius);
					background-color: $col-site-green;
					color: $col-site-white;
					font-size: 1.25em;
				}
			}
		
			.photogroup
			{
				margin: 10px;	
				
				.grouptitle
				{
					font-size: 1.25em;
					align: center;
				}
			
				ul
				{
					list-style-type: none;
					list-style-position: initial;
					list-style-image: initial;
					
					li
					{
						list-style-type: none;
						list-style-position: initial;
					
						.committeemember
						{
							@include float-left;
							margin: 10px;
							margin-bottom: 20px;
						
							.positiontitle
							{
								@include float-left;
								clear: left;
								white-space: normal;  // this controls word wrap
								width: 50px;
								height: 50px;
								
							}
							
							.memberimage
							{
								@include float-left;
								clear: left;
								
								width: 60px;
							}
						
							.membername
							{
								@include float-left;
								clear:left;
								white-space: normal;
								width: 50px;
								padding-top: 5px;
								padding-bottom: 10px;
							}
						}
						
						.spacingblank
						{
							@include float-left;
							margin: 10px;
							margin-bottom: 20px;
							width: 60px;
						}
					}
				}
			
			}
		}
		
		
		#footer
		{
				@include column($blueprint-grid-columns);
				border-top-style: solid;
				border-color: $col-borders;
				border-width: 1px;
				margin-top: 10px;
				margin-bottom: 10px;
				
				#footertext
				{
					@include float-left;
				
					.text
					{
						color: $col-site-lightgreen;
						padding: 0px;
						margin: 0px;
						font-size: 1.5em;
					}
					
					.fineprint
					{
						font-size: 0.75em;
						color: $col-site-white;
					}
				}
				
				#navbar
				{
					
					@include float-right;
					
					ul
					{
	
						padding: 0px;
						margin: 0px;
						list-style-type: none;
						list-style-position: initial;
						list-style-image: initial;
						
						
						li
						{
							display: inline;
							list-style-type: none;
							list-style-position: initial;
							list-style-image: initial;
							margin: 0px;
							padding: 0px;
							
							a
							{
								display:block;
								@include float-left;
								text-decoration: none;
								line-height: 50px;
								color: $col-site-white;
								font-size: 1em;

								padding-right: 10px;

								.last
								{
									padding-right: 0px;
								}

								&:hover
								{
									color: lighten( $col-site-green, 10% );
									text-decoration: underline;
								}
							}
						}
					}
				}
		}
		
	}
}
